{% extends 'base.html' %}

{% block title %}
Portfolio
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/style.css">

<h1 class="mt-4 mb-4 teal-text">My Portfolio</h1>
    <!-- Add your portfolio projects here -->
<div class="card mb-4">
    <h1 class="card-title teal-text ml-3 mt-1">Intuitive Leap</h1>
    <div class="card-body teal-bg">
      <div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../static/images/il.png" alt="Profile Image" class="img-fluid fit-width">
        </div>
        <div class="col-md-6">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="card-title">Key Features</h1>
                                <h2 class="card-text">Automated Ticket Analysis: Extracts vital info from ticket data.
                                    AI-Powered Solution Prediction: Predicts likely solutions.
                                    User-Friendly Interface: Offers a seamless experience.
                                    Integration with Existing Systems: Seamlessly integrates with existing software.
                                    Continuous Improvement: AI undergoes continuous refinement.</h2>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="card-title">Technological Stack</h1>
                                <ul class="list-group card-technologies teal-text">
                                    <li class="list-group-item ">Programming Languages: .NET, C#, Python</li>
                                    <li class="list-group-item">Hosting Platform: Microsoft Azure</li>
                                    <li class="list-group-item">Database: SQL</li>
                                    <li class="list-group-item">Version Control: GitHub</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="card-title">Future Prospects</h1>
                                <h2 class="card-text">Intuitive Leap is actively seeking investment opportunities to enhance its capabilities and expand its reach. With a proven track record of enhancing efficiency and effectiveness in troubleshooting processes, the platform holds substantial potential for growth and scalability, making it an attractive prospect for investors looking to revolutionize healthcare technology.</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</div>


<div class="card mb-4">
<h1 class="card-title teal-text ml-3 mt-1">Accuray</h1>
<div class="card-body teal-bg">
  <div class="container">
<div class="row">
    <div class="col-md-6">
        <img src="../static/images/accuray.png" alt="Profile Image" class="img-fluid fit-width">
    </div>
    <div class="col-md-6">
        <div id="AccurayCarouselControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="card-title">Built and hosted a website with Django on AWS</h1>
                            <h2 class="card-text">Spearheaded the development and deployment of a dynamic website leveraging the Django framework, ensuring a robust, scalable backend architecture. The website was meticulously configured and deployed on Amazon Web Services (AWS), utilizing EC2 instances for hosting, RDS for database management, and S3 buckets for static and media file storage. This deployment strategy was chosen for its scalability, reliability, and security features, enabling seamless user experiences even under high traffic conditions.</h2>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="card-title">Gathered, cleaned, and preprocessed Multiple datasets using NLTK, Pandas, and sklearn</h1>
<h2 class="card-text">Led a comprehensive data engineering initiative, sourcing datasets from diverse origins to fuel machine learning models. Employed NLTK for natural language processing tasks, enabling effective text data cleaning and preparation. Utilized Pandas for data manipulation and analysis, transforming raw data into structured formats. Leveraged Scikit-learn (sklearn) for preprocessing tasks, including normalization, feature extraction, and handling missing values, laying a solid foundation for advanced analytics and machine learning applications.</h2>
                            </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="card-title">Built, fine-tuned, and analyzed 4 classifiers using sklearn the top performing with 90% accuracy</h1>
                              <h2 class="card-text">Directed the development and optimization of four distinct classifier models using Scikit-learn, targeting a variety of predictive analytics tasks. Applied advanced machine learning techniques, including cross-validation and hyperparameter tuning, to refine model performance. The top-performing model achieved an impressive 90% accuracy rate, demonstrating exceptional predictive capabilities. This success was attributed to rigorous model evaluation, feature engineering, and an iterative approach to model refinement.</h2>
                            </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#AccurayCarouselControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#AccurayCarouselControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
</div>
</div>
</div>


<div class="card mb-4">
    <h1 class="card-title teal-text ml-3 mt-1">UCCS Research</h1>
    <div class="card-body teal-bg">
      <div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../static/images/paper.png" alt="Profile Image" class="img-fluid fit-width">
        </div>
        <div class="col-md-6">
            <div id="paperControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="card-title">Key Features</h1>
                                <h2 class="card-text">Automated Ticket Analysis: Extracts vital info from ticket data.
                                    AI-Powered Solution Prediction: Predicts likely solutions.
                                    User-Friendly Interface: Offers a seamless experience.
                                    Integration with Existing Systems: Seamlessly integrates with existing software.
                                    Continuous Improvement: AI undergoes continuous refinement.</h2>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="card-title">Technological Stack</h1>
                                <ul class="list-group card-technologies teal-text">
                                    <li class="list-group-item ">Programming Languages: .NET, C#, Python</li>
                                    <li class="list-group-item">Hosting Platform: Microsoft Azure</li>
                                    <li class="list-group-item">Database: SQL</li>
                                    <li class="list-group-item">Version Control: GitHub</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="card-title">Future Prospects</h1>
                                <h2 class="card-text">Intuitive Leap is actively seeking investment opportunities to enhance its capabilities and expand its reach. With a proven track record of enhancing efficiency and effectiveness in troubleshooting processes, the platform holds substantial potential for growth and scalability, making it an attractive prospect for investors looking to revolutionize healthcare technology.</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#paperControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#paperControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</div>


<div class="card mb-4">
<h1 class="card-title teal-text ml-3 mt-1">Unifi</h1>
<div class="card-body teal-bg">
  <div class="container">
<div class="row">
    <div class="col-md-6">
        <img src="../static/images/unifi.png" alt="Profile Image" class="img-fluid fit-width">
    </div>
    <div class="col-md-6">
        <div id="unifiCarouselControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="card-title">Technical Development and Training</h1>
                            <h2 class="card-text">Leading the initiative to explore and evaluate alternatives to WordPress: This involves researching and assessing different web development frameworks (Django, React, Svelte) to expand the company's web development capabilities and offer more versatile solutions.
Undertaking comprehensive training in Django, React, and Svelte: By learning these frameworks, you gain a broader understanding of their functionalities, learning curves, and how they can be integrated into your workflow, thereby enhancing your technical skill set.
Developing custom WordPress plugins: This task requires technical expertise to extend the functionality of WordPress sites, catering to specific client needs and enhancing user engagement.</h2>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="card-title">Design and Optimization</h1>
                            <h2 class="card-text">Designing conceptual mock-ups for web pages: Creating preliminary visual guides helps in presenting and clarifying the intended direction for projects, ensuring that both clients and the internal team have a clear understanding of the envisioned outcome.
Implementing modern design principles to revitalize websites: This task focuses on applying contemporary design standards to improve the aesthetic appeal, usability, and accessibility of websites, ensuring they are up-to-date with current trends and standards.
Engaging in SEO optimization projects: Involves keyword research, content optimization, and analytics review to enhance website visibility and improve search engine rankings. This task is crucial for ensuring that websites not only look good but are also optimized for performance and visibility on search engines.</h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="card-title">Project Planning and Strategy</h1>
                            <h2 class="card-text">Participating in strategic meetings: In these meetings, collaborating with team members to define project goals and timelines ensures that projects are aligned with the company's overarching vision. It involves discussion, planning, and alignment on various project aspects. Implementing Agile methodologies through a Kanban board: This approach facilitated the enhancement of project management efficiency and team collaboration by streamlining task tracking and improving workflow transparency. It significantly accelerated project delivery, fostering a development environment that is adaptable and responsive to change.</h2>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#unifiCarouselControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#unifiCarouselControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('.carousel').carousel();
        });
    </script>
{% endblock %}
